<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>page 1</title>
  </head>
  <body>
    <h1>{{a}}</h1>
    <form name="mypage" action="/login" method="POST">
      username : <input type="text" name="username" /><br />
      <br />password : <input type="password" name="pwd" /><br />
      <br /><input type="submit" placeholder="click here" />
    </form>
    <div><a href="signup.html">new user?</a></div>
  </body>
</html>
